<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.pp.rudiki.geoswitch">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/geoswitch_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityMain"
            android:label="@string/activity_main_title">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.GeoSwitchGpsService"
            android:enabled="true"
            android:exported="true" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD8QD2hdojKl-XjSZlCnwaIc1ShQUI9or8" />

        <activity
            android:name=".ActivityTrigger"
            android:label="@string/activity_trigger_title" />
        <activity
            android:name=".ActivityMap"
            android:label="@string/activity_map_title" />
        <activity
            android:name=".ActivityAction"
            android:label="@string/activity_action_title" />
        <activity
            android:name=".ActivityGpsOptions"
            android:label="@string/activity_gps_title" />

        <receiver android:name=".peripherals.PowerBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".peripherals.WifiBroadcastReceiver" >
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.NETWORK_STATE_CHANGED_ACTION" />
                <action android:name="android.net.wifi.SUPPLICANT_STATE_CHANGED_ACTION" />
                <action android:name="android.net.wifi.SUPPLICANT_CONNECTION_CHANGE_ACTION" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".peripherals.BluetoothBroadcastReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"/>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>